@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Glagolitic&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* Override default variable */
/* body */

/* *,
body {
    font-family: 'Inter', sans-serif;
} */

/* form */

form.card #status {
    font-size: 13px;
}

/* modal */
.modal-sm {
    max-width: 550px;
}

/* content */

.content-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    position: relative;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

@media (prefers-reduced-motion:no-preference) {
    .content-inner {
        scroll-behavior: smooth;
    }
}

/* line-height */
.ln-normal {
    line-height: normal;
}

.ln-90 {
    line-height: 90%;
}

/* font-weight */
.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

.fw-bold {
    font-weight: bold;
}

/* font-size */
.fs-7 {
    font-size: 13px;
}

.fs-8 {
    font-size: 11px;
}

.fs-9 {
    font-size: 10px;
}

.fs-10 {
    font-size: 9px;
}

.fs--1 {
    font-size: 20px;
}

.fs--2 {
    font-size: 25px;
}

.fs--3 {
    font-size: 30px;
}

.fs--4 {
    font-size: 35px;
}

.fs--5 {
    font-size: 40px;
}

.fs--6 {
    font-size: 45px;
}

.fs--7 {
    font-size: 50px;
}


/* text-transform */

.tt-upper {
    text-transform: uppercase;
}

.tt-lower {
    text-transform: lowercase;
}

.tt-capital {
    text-transform: capitalize;
}

.tt-none {
    text-transform: none;
}

/* noty */
.noty_bar {
    font-size: 13px;
    text-align: center;
}

/* button */

.btn {
    font-family: 'Readex Pro', sans-serif;
}

button.btn,
a.btn,
.select2-dropdown,
.select2-search--dropdown .select2-search__field,
.form-control.form-control-confirm,
.noty_bar {
    border-radius: 15px;
}

/* .input-group .select2-selection--single {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 0px;
} */

.input-group .input-group-text {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 3px;
    font-size: 13px;
}

label.form-control,
input.form-control,
textarea.form-control,
.select2-selection--single,
.captcha.captcha-body {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 3px;
}

input[name="captcha"].form-control {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 3px;
}

button.btn-link {
    font-weight: 400;
    font-size: 13px;
}

button.btn-white#b-generate {
    padding: .5410rem 1rem;
}

/* pointer */

.pointer-events-none {
    pointer-events: none;
}

.pointer {cursor:pointer;}

/* scrollbar */
/* @media only screen and (min-width: 600px) {

    ::-webkit-scrollbar {
        width: 22px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;

    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(100, 99, 99, 0.1);
        border-radius: 8px;
        border: 7px solid transparent;
        background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(51, 51, 51, 0.1);
    }
} */

/* width */

.w--0 {
    width: 0;
}

.w--7 {
    width: 7%;
}

.mw--20 {
    max-width: 20%;
}

.h-75px {
    height: 4.7rem !important;
}

.w-75px {
    width: 4.7rem !important;
}

.h-100px {
    height: 6.25rem !important;
}

.w-100px {
    width: 6.25rem !important;
}

@media (min-width: 576px) {
    .login-form {
        width: 26.3rem;
    }
}

/* noty */

.noty_body {
    padding: 10px;
}

.noty_has_timeout.noty_has_progressbar .noty_progressbar {
    display: none;
}

/* white-space */

.text-nowrap {
    white-space: nowrap !important;
}

/* table */

.table tr td {
    font-size: 12px;
}

table.dataTable td.dataTables_empty {
    text-align: center;
}

/* label */

label {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 3px;
}

.card-header > span,
label > span {
    /* font-family: 'Readex Pro', sans-serif; */
    font-size: 13px;
    font-weight: 400;
    margin-top: -3px;
}

/* tom select */
.plugin-dropdown_input.focus .ts-dropdown .dropdown-input {
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.ts-dropdown-content {
    padding: 0px;
}

.ts-dropdown-content .option {
    font-size: 13px;
}

.tom-select-custom .ts-dropdown .ts-dropdown-content .option::after {
    background-image: none;
    font-family: bootstrap-icons !important;
    content: "\F272";
}

input.dropdown-input,
.ts-control .item,
.ts-dropdown-content .no-results {
    font-size: 13px;
    font-weight: 500;
}

.ts-custom-placeholder,
.ts-dropdown .dropdown-input-wrap .dropdown-input,
.ts-control input {
    font-size: 13px;
    font-weight: 400;
}

.focus .ts-control {
    border-color: none;
    outline: 0;
    box-shadow: none;
}

/* select2 */
.select2-results > ul.select2-results__options > .select2-results__option .select2-results__message {
    font-size: 1px;
}

.select2-invalid{
    border-color: var(--s2-focus-border-color);
    box-shadow:  0 0 0 0.125rem rgba(239, 68, 68, 0.25);;
}

.select2-selection--single .select2-selection__rendered {
    font-size: 13px;
}

.select2-selection--single .select2-selection__clear:after {
    position: absolute;
    font-size: 13px;
    top: 3px;
    right: 2px;  
}

/* input */

.form-control::placeholder,
.select2-selection--single .select2-selection__placeholder {
    font-size: 13px;
    text-transform: none;
    letter-spacing: normal;
}

.form-control {
    font-size: 13px;
}



/* navbar */
/* .navbar-light .navbar-nav .nav-link {
    color: #444;
    font-size: 15.5px;
} */

/* background */

/* image */

.avatar-3-blur {
    -webkit-filter: blur(1px);
}

.img-captcha {
    padding: 1px;
    width: 120px;
}

.img-captcha img {
    /* border-radius: 15px; */
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 3px;
    padding-right: 2px;
    width: 120px;
}

@media only screen and (max-width: 600px) {
    .img-captcha {
        width: 90px;
    }

    .img-captcha img {
        /* border-radius: 15px; */
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 3px;
        width: 90px;
        min-height: 43px;
    }
}

.avatar-common,
.avatar-admin {
    background: #ddd;
}

.avatar-2:not(img) {
    background-color: #fff;
}

.profile-cover-avatar-2 {
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    border: .35rem solid #fff;
    margin: -6.3rem auto .5rem auto;
}

.avatar-2-uploader {
    cursor: pointer;
    display: inline-block;
    transition: .2s;
    margin-bottom: 0;
}

.avatar-2-xxl,
.avatar-2-xxl .avatar-2-initials {
    width: 11.875rem;
    height: 11.875rem;
}

.avatar-2-circle {
    border-radius: 50%;
}

.avatar-2 {
    position: relative;
}

.avatar-2-xxl .avatar-2-img {
    width: 11.875rem;
}

.avatar-2-circle .avatar-2,
.avatar-2-circle .avatar-2-img,
.avatar-2-circle .avatar-2-initials {
    border-radius: 50%;
}

.avatar-2-img {
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: .5rem;
}

.avatar-2-uploader {
    cursor: pointer;
    display: inline-block;
    transition: .2s;
    margin-bottom: 0;
}

.avatar-2-uploader-input {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 33, 68, .25);
    border-radius: 50%;
    transition: .2s;
}

.avatar-2-uploader-trigger {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    border-radius: 50%;
}

.avatar-2-xxl .avatar-2-uploader-icon {
    width: 3.5rem;
    height: 3.5rem;
}

.avatar-2-uploader-icon {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #677788;
    background-color: #fff;
    border-radius: 50%;
    transition: .2s;
    font-size: 20px;
}

.avatar-img {
    width: 100%;
}

.avatar-3:not(img) {
    background-color: #fff;
}

.profile-cover-avatar-3 {
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    border: .35rem solid #fff;
    margin: -6.3rem auto .5rem auto;
}

.avatar-3-uploader {
    cursor: pointer;
    display: inline-block;
    transition: .2s;
    margin-bottom: 0;
}

.avatar-3-xxl,
.avatar-3-xxl .avatar-3-initials {
    width: 9.575rem;
    height: 11.875rem;
    border-radius: 1.3rem;
}

.avatar-3-circle {
    border-radius: 50%;
}

.avatar-3 {
    position: relative;
}

.avatar-3-xxl .avatar-3-img {
    width: 11.875rem;
}

.avatar-3-circle .avatar-3,
.avatar-3-circle .avatar-3-img,
.avatar-3-circle .avatar-3-initials {
    border-radius: 50%;
}

.avatar-3-img {
    max-width: 100%;
    height: 100%;
    -o-object-fit: fill;
    object-fit: fill;
    border-radius: 1rem;
}

.avatar-3-uploader {
    cursor: pointer;
    display: inline-block;
    transition: .2s;
    margin-bottom: 0;
}

.avatar-3-uploader-input {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 33, 68, .25);
    border-radius: 50%;
    transition: .2s;
}

.avatar-3-uploader-trigger {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0;
}

.avatar-3-xxl .avatar-3-uploader-icon {
    width: 2.5rem;
    height: 2.5rem;
}

.avatar-3-uploader-icon {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #677788;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0.9rem;
    transition: .2s;
    font-size: 20px;
}

/* modal */

.modal-footer {
    padding: 10px;
}

/* ql-editor */
.js-quill .ql-editor p {
    font-size: 14px;
}

/* border radius */
.rounded {
    border-radius: 15px !important;
}

.rounded-25, .modal-content {
    border-radius: 25px !important;
}

.rd-l-my-0 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.rd-r-my-0 {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.rd-br-0 {
    border-bottom-right-radius: 0px;
}

.rd-bl-0 {
    border-bottom-left-radius: 0px;
}

.rd-br-10 {
    border-bottom-right-radius: 10px;
}

.rd-bl-10 {
    border-bottom-left-radius: 10px;
}

.rd-0 {
    border-radius: 0px;
}

.rd-5 {
    border-radius: 5px;
}

.rd-10 {
    border-radius: 10px;
}


/* opacity */
.op-03 {
    opacity: 0.3;
}


/* pointer-event */
.pointer-events-none {
    pointer-events: none;
}

/* freeze */
.freeze {
    opacity: 0.3;
    pointer-events: none;
}

/* breadcrumb */

ol.breadcrumb .breadcrumb-item {
    font-size: 14px;
}

/* fade */

.alumni-card-info {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* padding */
.p1 {
    padding: 1px;
}

.p2 {
    padding: 2px;
}

.p3 {
    padding: 3px;
}

.p4 {
    padding: 4px;
}

.p5 {
    padding: 5px;
}

.p6 {
    padding: 6px;
}

.p7 {
    padding: 7px;
}

.p8 {
    padding: 8px;
}

.p9 {
    padding: 9px;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.p20 {
    padding: 20px;
}

.p25 {
    padding: 25px;
}

.p30 {
    padding: 30px;
}

.p35 {
    padding: 35px;
}

.p40 {
    padding: 40px;
}

.p45 {
    padding: 45px;
}

.p50 {
    padding: 50px;
}

.pt1 {
    padding-top: 1px;
}

.pt2 {
    padding-top: 2px;
}

.pt3 {
    padding-top: 3px;
}

.pt4 {
    padding-top: 4px;
}

.pt5 {
    padding-top: 5px;
}

.pt6 {
    padding-top: 6px;
}

.pt7 {
    padding-top: 7px;
}

.pt8 {
    padding-top: 8px;
}

.pt9 {
    padding-top: 9px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt25 {
    padding-top: 25px;
}

.pt30 {
    padding-top: 30px;
}

.pt35 {
    padding-top: 35px;
}

.pt40 {
    padding-top: 40px;
}

.pt45 {
    padding-top: 45px;
}

.pt50 {
    padding-top: 50px;
}

.pb1 {
    padding-bottom: 1px;
}

.pb2 {
    padding-bottom: 2px;
}

.pb3 {
    padding-bottom: 3px;
}

.pb4 {
    padding-bottom: 4px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb6 {
    padding-bottom: 6px;
}

.pb7 {
    padding-bottom: 7px;
}

.pb8 {
    padding-bottom: 8px;
}

.pb9 {
    padding-bottom: 9px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb25 {
    padding-bottom: 25px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb35 {
    padding-bottom: 35px;
}

.pb40 {
    padding-bottom: 40px;
}

.pb45 {
    padding-bottom: 45px;
}

.pb50 {
    padding-bottom: 50px;
}

.pl1 {
    padding-left: 1px;
}

.pl2 {
    padding-left: 2px;
}

.pl3 {
    padding-left: 3px;
}

.pl4 {
    padding-left: 4px;
}

.pl5 {
    padding-left: 5px;
}

.pl6 {
    padding-left: 6px;
}

.pl7 {
    padding-left: 7px;
}

.pl8 {
    padding-left: 8px;
}

.pl9 {
    padding-left: 9px;
}

.pl10 {
    padding-left: 10px;
}

.pl15 {
    padding-left: 15px;
}

.pl20 {
    padding-left: 20px;
}

.pl25 {
    padding-left: 25px;
}

.pl30 {
    padding-left: 30px;
}

.pl35 {
    padding-left: 35px;
}

.pl40 {
    padding-left: 40px;
}

.pl45 {
    padding-left: 45px;
}

.pl50 {
    padding-left: 50px;
}

.pr1 {
    padding-right: 1px;
}

.pr2 {
    padding-right: 2px;
}

.pr3 {
    padding-right: 3px;
}

.pr4 {
    padding-right: 4px;
}

.pr5 {
    padding-right: 5px;
}

.pr6 {
    padding-right: 6px;
}

.pr7 {
    padding-right: 7px;
}

.pr8 {
    padding-right: 8px;
}

.pr9 {
    padding-right: 9px;
}

.pr10 {
    padding-right: 10px;
}

.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}

.pr25 {
    padding-right: 25px;
}

.pr30 {
    padding-right: 30px;
}

.pr35 {
    padding-right: 35px;
}

.pr40 {
    padding-right: 40px;
}

.pr45 {
    padding-right: 45px;
}

.pr50 {
    padding-right: 50px;
}

/* margin min */
.p-t1 {
    padding-top: -1px;
}

.p-t2 {
    padding-top: -2px;
}

.p-t3 {
    padding-top: -3px;
}

.p-t4 {
    padding-top: -4px;
}

.p-t5 {
    padding-top: -5px;
}

.p-t6 {
    padding-top: -6px;
}

.p-t7 {
    padding-top: -7px;
}

.p-t8 {
    padding-top: -8px;
}

.p-t9 {
    padding-top: -9px;
}

.p-t10 {
    padding-top: -10px;
}

.p-t15 {
    padding-top: -15px;
}

.p-t20 {
    padding-top: -20px;
}

.p-t25 {
    padding-top: -25px;
}

.p-t30 {
    padding-top: -30px;
}

.p-t35 {
    padding-top: -35px;
}

.p-t40 {
    padding-top: -40px;
}

.p-t45 {
    padding-top: -45px;
}

.p-t50 {
    padding-top: -50px;
}

.p-b1 {
    padding-bottom: -1px;
}

.p-b2 {
    padding-bottom: -2px;
}

.p-b3 {
    padding-bottom: -3px;
}

.p-b4 {
    padding-bottom: -4px;
}

.p-b5 {
    padding-bottom: -5px;
}

.p-b6 {
    padding-bottom: -6px;
}

.p-b7 {
    padding-bottom: -7px;
}

.p-b8 {
    padding-bottom: -8px;
}

.p-b9 {
    padding-bottom: -9px;
}

.p-b10 {
    padding-bottom: -10px;
}

.p-b15 {
    padding-bottom: -15px;
}

.p-b20 {
    padding-bottom: -20px;
}

.p-b25 {
    padding-bottom: -25px;
}

.p-b30 {
    padding-bottom: -30px;
}

.p-b35 {
    padding-bottom: -35px;
}

.p-b40 {
    padding-bottom: -40px;
}

.p-b45 {
    padding-bottom: -45px;
}

.p-b50 {
    padding-bottom: -50px;
}

.p-l1 {
    padding-left: -1px;
}

.p-l2 {
    padding-left: -2px;
}

.p-l3 {
    padding-left: -3px;
}

.p-l4 {
    padding-left: -4px;
}

.p-l5 {
    padding-left: -5px;
}

.p-l6 {
    padding-left: -6px;
}

.p-l7 {
    padding-left: -7px;
}

.p-l8 {
    padding-left: -8px;
}

.p-l9 {
    padding-left: -9px;
}

.p-l10 {
    padding-left: -10px;
}

.p-l15 {
    padding-left: -15px;
}

.p-l20 {
    padding-left: -20px;
}

.p-l25 {
    padding-left: -25px;
}

.p-l30 {
    padding-left: -30px;
}

.p-l35 {
    padding-left: -35px;
}

.p-l40 {
    padding-left: -40px;
}

.p-l45 {
    padding-left: -45px;
}

.p-l50 {
    padding-left: -50px;
}

.p-r1 {
    padding-right: -1px;
}

.p-r2 {
    padding-right: -2px;
}

.p-r3 {
    padding-right: -3px;
}

.p-r4 {
    padding-right: -4px;
}

.p-r5 {
    padding-right: -5px;
}

.p-r6 {
    padding-right: -6px;
}

.p-r7 {
    padding-right: -7px;
}

.p-r8 {
    padding-right: -8px;
}

.p-r9 {
    padding-right: -9px;
}

.p-r10 {
    padding-right: -10px;
}

.p-r15 {
    padding-right: -15px;
}

.p-r20 {
    padding-right: -20px;
}

.p-r25 {
    padding-right: -25px;
}

.p-r30 {
    padding-right: -30px;
}

.p-r35 {
    padding-right: -35px;
}

.p-r40 {
    padding-right: -40px;
}

.p-r45 {
    padding-right: -45px;
}

.p-r50 {
    padding-right: -50px;
}


/* margin */

.m1 {
    margin: 1px;
}

.m2 {
    margin: 2px;
}

.m3 {
    margin: 3px;
}

.m4 {
    margin: 4px;
}

.m5 {
    margin: 5px;
}

.m6 {
    margin: 6px;
}

.m7 {
    margin: 7px;
}

.m8 {
    margin: 8px;
}

.m9 {
    margin: 9px;
}

.m10 {
    margin: 10px;
}

.m15 {
    margin: 15px;
}

.m20 {
    margin: 20px;
}

.m25 {
    margin: 25px;
}

.m30 {
    margin: 30px;
}

.m35 {
    margin: 35px;
}

.m40 {
    margin: 40px;
}

.m45 {
    margin: 45px;
}

.m50 {
    margin: 50px;
}

.mt1 {
    margin-top: 1px;
}

.mt2 {
    margin-top: 2px;
}

.mt3 {
    margin-top: 3px;
}

.mt4 {
    margin-top: 4px;
}

.mt5 {
    margin-top: 5px;
}

.mt6 {
    margin-top: 6px;
}

.mt7 {
    margin-top: 7px;
}

.mt8 {
    margin-top: 8px;
}

.mt9 {
    margin-top: 9px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt35 {
    margin-top: 35px;
}

.mt40 {
    margin-top: 40px;
}

.mt45 {
    margin-top: 45px;
}

.mt50 {
    margin-top: 50px;
}

.mb1 {
    margin-bottom: 1px;
}

.mb2 {
    margin-bottom: 2px;
}

.mb3 {
    margin-bottom: 3px;
}

.mb4 {
    margin-bottom: 4px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb6 {
    margin-bottom: 6px;
}

.mb7 {
    margin-bottom: 7px;
}

.mb8 {
    margin-bottom: 8px;
}

.mb9 {
    margin-bottom: 9px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb35 {
    margin-bottom: 35px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb45 {
    margin-bottom: 45px;
}

.mb50 {
    margin-bottom: 50px;
}

.ml1 {
    margin-left: 1px;
}

.ml2 {
    margin-left: 2px;
}

.ml3 {
    margin-left: 3px;
}

.ml4 {
    margin-left: 4px;
}

.ml5 {
    margin-left: 5px;
}

.ml6 {
    margin-left: 6px;
}

.ml7 {
    margin-left: 7px;
}

.ml8 {
    margin-left: 8px;
}

.ml9 {
    margin-left: 9px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml25 {
    margin-left: 25px;
}

.ml30 {
    margin-left: 30px;
}

.ml35 {
    margin-left: 35px;
}

.ml40 {
    margin-left: 40px;
}

.ml45 {
    margin-left: 45px;
}

.ml50 {
    margin-left: 50px;
}

.mr1 {
    margin-right: 1px;
}

.mr2 {
    margin-right: 2px;
}

.mr3 {
    margin-right: 3px;
}

.mr4 {
    margin-right: 4px;
}

.mr5 {
    margin-right: 5px;
}

.mr6 {
    margin-right: 6px;
}

.mr7 {
    margin-right: 7px;
}

.mr8 {
    margin-right: 8px;
}

.mr9 {
    margin-right: 9px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr25 {
    margin-right: 25px;
}

.mr30 {
    margin-right: 30px;
}

.mr35 {
    margin-right: 35px;
}

.mr40 {
    margin-right: 40px;
}

.mr45 {
    margin-right: 45px;
}

.mr50 {
    margin-right: 50px;
}

/* margin min */
.m-t1 {
    margin-top: -1px;
}

.m-t2 {
    margin-top: -2px;
}

.m-t3 {
    margin-top: -3px;
}

.m-t4 {
    margin-top: -4px;
}

.m-t5 {
    margin-top: -5px;
}

.m-t6 {
    margin-top: -6px;
}

.m-t7 {
    margin-top: -7px;
}

.m-t8 {
    margin-top: -8px;
}

.m-t9 {
    margin-top: -9px;
}

.m-t10 {
    margin-top: -10px;
}

.m-t15 {
    margin-top: -15px;
}

.m-t20 {
    margin-top: -20px;
}

.m-t25 {
    margin-top: -25px;
}

.m-t30 {
    margin-top: -30px;
}

.m-t35 {
    margin-top: -35px;
}

.m-t40 {
    margin-top: -40px;
}

.m-t45 {
    margin-top: -45px;
}

.m-t50 {
    margin-top: -50px;
}

.m-b1 {
    margin-bottom: -1px;
}

.m-b2 {
    margin-bottom: -2px;
}

.m-b3 {
    margin-bottom: -3px;
}

.m-b4 {
    margin-bottom: -4px;
}

.m-b5 {
    margin-bottom: -5px;
}

.m-b6 {
    margin-bottom: -6px;
}

.m-b7 {
    margin-bottom: -7px;
}

.m-b8 {
    margin-bottom: -8px;
}

.m-b9 {
    margin-bottom: -9px;
}

.m-b10 {
    margin-bottom: -10px;
}

.m-b15 {
    margin-bottom: -15px;
}

.m-b20 {
    margin-bottom: -20px;
}

.m-b25 {
    margin-bottom: -25px;
}

.m-b30 {
    margin-bottom: -30px;
}

.m-b35 {
    margin-bottom: -35px;
}

.m-b40 {
    margin-bottom: -40px;
}

.m-b45 {
    margin-bottom: -45px;
}

.m-b50 {
    margin-bottom: -50px;
}

.m-l1 {
    margin-left: -1px;
}

.m-l2 {
    margin-left: -2px;
}

.m-l3 {
    margin-left: -3px;
}

.m-l4 {
    margin-left: -4px;
}

.m-l5 {
    margin-left: -5px;
}

.m-l6 {
    margin-left: -6px;
}

.m-l7 {
    margin-left: -7px;
}

.m-l8 {
    margin-left: -8px;
}

.m-l9 {
    margin-left: -9px;
}

.m-l10 {
    margin-left: -10px;
}

.m-l15 {
    margin-left: -15px;
}

.m-l20 {
    margin-left: -20px;
}

.m-l25 {
    margin-left: -25px;
}

.m-l30 {
    margin-left: -30px;
}

.m-l35 {
    margin-left: -35px;
}

.m-l40 {
    margin-left: -40px;
}

.m-l45 {
    margin-left: -45px;
}

.m-l50 {
    margin-left: -50px;
}

.m-r1 {
    margin-right: -1px;
}

.m-r2 {
    margin-right: -2px;
}

.m-r3 {
    margin-right: -3px;
}

.m-r4 {
    margin-right: -4px;
}

.m-r5 {
    margin-right: -5px;
}

.m-r6 {
    margin-right: -6px;
}

.m-r7 {
    margin-right: -7px;
}

.m-r8 {
    margin-right: -8px;
}

.m-r9 {
    margin-right: -9px;
}

.m-r10 {
    margin-right: -10px;
}

.m-r15 {
    margin-right: -15px;
}

.m-r20 {
    margin-right: -20px;
}

.m-r25 {
    margin-right: -25px;
}

.m-r30 {
    margin-right: -30px;
}

.m-r35 {
    margin-right: -35px;
}

.m-r40 {
    margin-right: -40px;
}

.m-r45 {
    margin-right: -45px;
}

.m-r50 {
    margin-right: -50px;
}

/* rotate */
.rtt-90 {
    transform: rotate(90deg);
    /* transform-origin: top left; */
}

/* font-family */
.ff-teko {
    font-family: 'Teko', sans-serif;
}

.ff-roboto {
    font-family: 'Roboto', sans-serif;
}

.ff-inter {
    font-family: 'Inter', sans-serif;
}

.ff-titi {
    font-family: 'Titillium Web', sans-serif;
}

.ff-dancing-script {
    font-family: 'Dancing Script', cursive;
}

.ff-readex-pro {
    font-family: 'Readex Pro', sans-serif;
}

.ff-roboto {
    font-family: 'Roboto', sans-serif;
}

.ff-noto {
    font-family: 'Noto Sans Glagolitic', sans-serif;
}

.ff-montserrat {
    font-family: 'Montserrat', sans-serif;
}

/* panel */
.card,
.dropdown-menu {
    border-radius: 20px;
}

/* card */

.num {
    transform: rotate(90deg);
    position: absolute;
}

.num-label {
    position: relative;
    bottom: 10.1rem;
    left: 0.4rem;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.num-label > h3 {
    font-family: 'Righteous', cursive;
    font-weight: 600;
    letter-spacing: 0.1875rem;
    margin-top: -10px;
    padding-bottom: 5px;
}

.ac-qrcode-section {
    position: absolute;
    right: 0rem;
    bottom: 2.875rem;
    padding-right: 0.5rem;
}

.ac-qrcode {
    border-radius: 0.3125rem;
    border: 0.3125rem solid #fff;
    height: auto;
    width: auto;
}

/* gap */
.gap--10 {
    gap: 10px;
}

/* blur */
.blur-4 {
    border: 0;
    filter: blur(.8px);
}

/* letter space */
.ls-1 {
    letter-spacing: 1px;
}

.ls-2 {
    letter-spacing: 2px;
}

.ls-4 {
    letter-spacing: 4px;
}

.ls-4 {
    letter-spacing: 4px;
}

.ls-5 {
    letter-spacing: 5px;
}

.ls-6 {
    letter-spacing: 6px;
}

.ls-7 {
    letter-spacing: 7px;
}

.ls-8 {
    letter-spacing: 8px;
}

.ls-9 {
    letter-spacing: 9px;
}

.ls-10 {
    letter-spacing: 10px;
}

/* animation */

.dp-none {
    display: none;
    opacity: 1;
    animation-name: fadeOutOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.2s;
}

.dp-block {
    display: block;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOutOpacity {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* padding */

.p2_5 {
    padding: 2.5rem
}

/* rotate */
.rotated-3d-right {
    transform: perspective(1140px) rotateX(7deg) rotateY(17deg) rotateZ(-4deg)
}

/* video */

.video-player {
    position: relative;
    display: inline-block
}

.video-player-inline-btn {
    display: block;
    background-color: #000
}

.video-player-preview {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 1;
    object-fit: cover;
    transition: opacity .3s ease-in-out
}

.video-player-played .video-player-preview {
    opacity: 0;
    pointer-events: none
}

.video-player-btn {
    z-index: 3;
    color: #1e2022;
    transition: transform .3s ease-in-out
}

.video-player-played .video-player-btn {
    animation: videoPlayerButton .3s ease-in-out forwards;
    pointer-events: none
}

.video-player-btn:hover .video-player-icon {
    color: #377dff;
    transform: scale(1.1)
}

.video-player-icon {
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    width: 4.25rem;
    height: 4.25rem;
    font-size: 1.25rem;
    border-radius: 50%;
    color: #1e2022;
    background-color: #fff;
    backface-visibility: hidden;
    transform: perspective(1px) translateZ(0);
    transition: .3s
}

.video-player-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

@keyframes videoPlayerButton {
    from {
        opacity: 1
    }

    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.3)
    }
}

.video-bg {
    position: relative;
    min-height: 75vh
}

.video-bg-content {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.video-bg-replacer-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center
}

@media (min-width: 768px) {
    .video-bg-replacer-img {
        display: none
    }
}

@media (max-width: 767.98px) {
    .video-bg-content {
        display: none
    }
}

.hs-video-bg-video iframe,
.hs-video-bg-video video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0
}


/* device */

.devices {
    max-width: 1140px;
    position: relative;
    overflow: hidden;
    padding: 0 .75rem 7rem;
    margin-right: -.75rem;
    margin-left: -.75rem
}

.devices .device-mobile {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    margin-left: 5rem;
    margin-bottom: 5rem
}

@media (max-width: 991.98px) {
    .devices .device-mobile {
        display: none
    }
}

.devices .device-browser {
    margin-left: auto;
    margin-right: 5rem
}

@media (max-width: 991.98px) {
    .devices .device-mobile {
        margin-right: .5rem
    }

    .devices .device-browser {
        margin-right: auto
    }
}

.devices-shadow-none .device-browser-frame,
.devices-shadow-none .device-mobile-frame {
    box-shadow: none
}

.devices-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    grid-gap: 1rem
}

@media (max-width: 991.98px) {
    .devices-wrap {
        display: none
    }
}

.devices-rotated {
    transform: rotate(-22deg)
}

.devices-rotated .devices-rotated-body {
    transform: translate3d(15%, 0, 0)
}

.devices-top-start-50 {
    position: absolute;
    top: 0;
    left: 50%
}

.device-mobile {
    position: relative;
    z-index: 1;
    display: block;
    max-width: 100%;
    width: 15rem;
    height: auto
}

.device-mobile-frame {
    background: #f8fafd;
    box-shadow: 0 2.75rem 5.5rem -3.5rem rgba(189, 197, 209, .5), 0 2rem 4rem -2rem rgba(33, 50, 91, .3), inset 0 -.1875rem .3125rem 0 rgba(151, 164, 175, .5);
    border-radius: 2rem;
    padding: .3125rem
}

.device-mobile-img {
    max-width: 100%;
    height: auto;
    border-radius: 1.6rem
}

.device-tablet {
    position: relative;
    z-index: 1;
    display: block;
    max-width: 100%;
    width: 50rem;
    height: auto
}

.device-tablet-frame {
    background: #f8fafd;
    box-shadow: 0 2.75rem 5.5rem -3.5rem rgba(189, 197, 209, .5), 0 2rem 4rem -2rem rgba(33, 50, 91, .3), inset 0 -.1875rem .3125rem 0 rgba(151, 164, 175, .5);
    border-radius: 1rem;
    padding: .3125rem
}

.device-tablet-img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem
}

.device-vertical-tablet {
    position: relative;
    z-index: 1;
    max-width: 100%;
    width: 30rem;
    height: auto
}

.device-vertical-tablet-frame {
    background: #f8fafd;
    box-shadow: 0 2.75rem 5.5rem -3.5rem rgba(189, 197, 209, .5), 0 2rem 4rem -2rem rgba(33, 50, 91, .3), inset 0 -.1875rem .3125rem 0 rgba(151, 164, 175, .5);
    border-radius: 1rem;
    padding: .3125rem
}

.device-vertical-tablet-img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem
}

.device-browser {
    position: relative;
    z-index: 1;
    display: block;
    max-width: 100%;
    width: 50rem;
    height: auto;
    margin-left: auto;
    margin-right: auto
}

.device-browser-frame {
    background: #fff;
    box-shadow: 0 2.75rem 5.5rem -3.5rem rgba(189, 197, 209, .5), 0 2rem 4rem -2rem rgba(33, 50, 91, .3);
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem
}

.device-browser-img {
    max-width: 100%;
    height: auto;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem
}

.device-browser-header {
    position: relative;
    display: flex;
    max-width: 50rem;
    background: #fff;
    border-bottom: .0625rem solid #f1f3f8;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    padding: .5rem 6.5rem
}

.device-browser-header-btn-list {
    display: flex;
    grid-gap: .25rem;
    position: absolute;
    top: calc(50% - .25rem);
    left: 1rem
}

.device-browser-header-btn-list-btn {
    width: .5rem;
    height: .5rem;
    background-color: #e7eaf3;
    border-radius: 50%
}

.device-browser-header-browser-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #677788;
    background-color: #e7eaf3;
    font-size: .5rem;
    border-radius: .125rem
}

.device-browser-lg {
    width: 60rem
}

.device-browser-lg .device-browser-header {
    max-width: 60rem
}

/* hero */
.img-hero-3 {
    width: 100%;
    height: auto;
}

@media (min-width: 992px) {
    .img-hero-3 {
        width: 100%;
        height: 340px;
    }
}

.progress-bar {
    animation: progressAnimation 5s linear infinite;
}

@keyframes progressAnimation {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

/* cursor */
.pointer {
    cursor: pointer;
}